.projectContent {
  color: black;
}

.vertical-timeline {
  margin: auto !important;
}

.verticalTimeline {
  margin-top: 80px !important;
  min-width: 100% !important;
}

.vertical-timeline-element-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.date {
  color: white;
}

.projectIcon {
  transform: scale(1.3);
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline-element-content {
    margin-left: 0 !important;
  }

  .vertical-timeline-element-icon {
    display: none;
  }

  .vertical-timeline-element-content-arrow {
    display: none;
  }

  .vertical-timeline::before {
    display: none;
  }
}
