.name {
  font-size: clamp(3rem, 5vw, 5rem);
  font-family: 'Montserrat', sans-serif;
}

.loop {
  height: 55px;
  margin-top: 3%;
  font-size: clamp(1.3em, 3vw, 4rem);
  font-family: 'Montserrat', sans-serif;
}

#introduction {
  padding-right: 0 !important ;
  padding-top: max(3%, 6vh);
  width: 60%;
}

@media only screen and (max-width: 890px) {
  #introduction {
    width: 100%;
  }
}
