.name {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
}

.loop {
  height: 55px;
  margin-top: 30px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

#introduction {
  display: inline-grid;
  grid-template-columns: 400px auto;
}

.image-container {
  position: relative;
}

.tarkanImage {
  width: 350px;
}

.text-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
