@import '../../assets/variables';

.project-card {
  width: 100%;
  height: 100%;
  margin: 0;
  background: $white;
  color: $black;
  border-radius: 5px;
  padding: 30px;
  @media only screen and (max-width: $lg) {
    padding: 20px;
  }
  @media only screen and (max-width: $md) {
    padding: 20px 15px;
  }
  @media only screen and (max-width: $sm) {
    padding: 15px 10px;
  }

  &__main-title {
    text-align: center;
  }
  &__sub-title {
    text-align: center;
  }
  &__links {
    text-align: center;
    width: 100%;
    a {
      color: $black;
      padding: 0 20px;
    }
  }
  &__secondary-title {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
  }
  &__goal {
    margin-top: 15px;
  }
}
