.resumePdf {
    margin-top: 25px;
    margin-bottom: 100px;
    color: black;
    background: white;
    width: 100%;
    height: 100vh;
}

.downloadResumePdf,
.viewPdf {
    margin-left: 10px;
}

.resumeContainer {
    margin-bottom: 50px;
}

.resume {
}
