.resumePdf {
    width: 100%;
    height: 100vh;
}

.resumeContainer {
    margin-bottom: 50px;
}

.resumeTabs {
}

.resumeHtml {
    padding-top: 30px;
    padding-bottom: 30px;
}

.resumeContact,
.resumeName {
    text-align: center;
    font-size: 3rem;
}

.resumeContact {
    font-size: 1.5rem;
}

.resumeDownloadLink {
    margin-top: 20px;
}

.nav-tabs {
    border-color: black !important;
    background-color: white;
    border-radius: 2px;
    width: 124px;
}

.resumeHtmlContainer {
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .resumeEmail {
        word-wrap: break-word;
        font-size: 1.3rem;
    }
}
