.homeText {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    line-height: 2.3rem;
}

.homeTitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
}

.container {
    margin-left: max(10%, 60px);
}
