.homeText {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: min(2rem, 8vw);
}

.homeTitle {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: max(4rem, 5vw);
}

.homePageHeader {
  font-size: 2.5rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

#root .container {
  margin: 0;
  padding-left: 7%;
  padding-right: 5%;
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 750px) {
  #root .container {
    padding-left: 10%;
    padding-right: 7%;
  }
}
