.homeText {
    color: white;
    margin-left: 15%;
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    line-height: 2.3rem;
}

.homeTitle {
    padding-top: 7%;
    margin-left: 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
}

@media only screen and (max-width: 575px) {
    .homeText {
        margin-top: 5%;
        margin-left: 15%;
    }
}
