@import '../../assets/variables';

.navbar-container {
  background: $black;
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
  width: 100%;
  z-index: 9999;
  &__nav {
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.contact-button {
  @media only screen and (min-width: $sm) {
    display: none !important;
  }
}
