@import '../../assets/variables';

.navbar-container {
  background: $black;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  &__nav {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.contact-button {
  @media only screen and (min-width: $sm) {
    display: none !important;
  }
}
