.contactLinkedIn {
  color: #2867b2;
}

.contactInfo .col-4 {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

.contactTwitter {
  color: #1da1f2;
  margin: auto;
}

.contactGithub {
  color: #333;
}
.contactInstagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
