@import '../../assets/variables';

.skill {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-width: 130px;
  &__icon {
    height: 75px;
    @media only screen and (max-width: $lg) {
      height: 60px;
    }
  }
}
