.rating-explanation {
  height: 100%;
  margin: 0 15px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  h6 {
    margin: auto;
    margin-top: 10px;
    margin-left: 4px;
  }
}

.explanation-rating {
  float: left;
}

.technical-skills {
  display: inline-flex;
  align-items: center;
}
