.sidebar {
  bottom: 0;
  font-size: 0.5rem;
  position: fixed;
  left: 0;
  width: 60px;
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
}

.icon {
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 20px 0;
}

.fa-phone {
  color: white;
}

.notification {
  color: white;
}

.iconContainer {
  margin: auto;
}

@media only screen and (max-width: 577px) {
  .sidebar {
    display: none;
  }
}
